.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
**/GeneratedPluginRegistrant.*
android/.gradle/
ios/Pods/
key.properties
*.jks
android/app/google-services.json
firebase-debug.log
